---
layout: default
---
	<!-- <div class="container">
			<div class="section-heading row">
					<h2 class="col-md-offset-1 col-lg-offset-2">My blog post</h2>
			</div>
	</div> -->
    <div class="container wrapper">
      <!--文章列表-->
		<div class="row">
			<div class="col-md-7 col-lg-7"> 
	 			<p id="top-post">{{ page.tag }}</p>
	            <!-- tag template -->
				<ul>
				{% for post in site.tags[page.tag] %}
				  <li>
				    {{ post.date | date: "%B %d, %Y" }}: <a href="{{ post.url }}">{{ post.title }}</a>
				  </li>
				{% endfor %}
				</ul>
        	</div>

        	<div class="col-md-3 col-lg-3 col-md-offset-2">
	          <!-- 分类索引--> 
	          {% include category.html%}
	          
	          
	          <!--列表索引--> 
           
  			</div>
      	</div>
    </div> 

